// app global css in SCSS form
@import "treeoverride";
@import "test.css";

body {
  overflow: hidden;
}

.my-picker {
  max-width: 150px;
  width: 100px;
}
.footerHeight {
  height: 25px;
}

.ba-menu-item {
  height: 32px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;

  &:hover {
    background-color: $teal-4;
  }
}

.menu-bar {
  background-color: $teal-6;
}

.activity-selector {}

.activity-pane {
  background-color: $teal-5;
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 100px;
  min-height: inherit;
}

.status-bar {
  background-color: $blue-6;
}

.work-pane {}

.utilitypane {}

.activity-selector-icon-holder {
  box-sizing: border-box;
  width: 50px;
  height: 60px;
}

.activity-selector-icon {
  font-size: 40px;
  color: $grey-4;
}

.activity-selector-icon:hover {
  color: white;
  cursor: pointer;
}

.ba-footer-icon {
  padding-left: 12px;
  padding-right: 12px;
}

.config-card {
  width: 100%;
  max-width: 250px;
}
