// app global css in SCSS form
@import "treeoverride";
@import "test.css";
$header-height: 32px;
$status-height: 25px;

// need to rename these follwoing two
$rightpane-top-background-color: #ffffff;
$rightpane-bottom-background-color: #ffffff;

// Theming colors
$MenuBarBackground: #009689;
$MenuBarText: #fefefe;
$ActivitySelectorBackground: #10a69b;
$ActivitySelectorText: #e0e0e0;
$ActivitySelectorTextHover: #ffffff;
$ActivityPaneBackground: #ffffff;
$ActivityPaneText: #000000;
$WorkPaneBackground: #ffffff;
$WorkPaneText: #000000;
$WorkPaneTabsBackground: #008075;
$WorkPaneTabInactiveBackground: #008f83;
$WorkPaneTabInactiveText: #e0e0e0;
$WorkPaneTabActiveBackground: #00665e;
$WorkPaneTabActiveIndicator: #00f2de;
$WorkPaneTabActiveText: #e0e0e0;
$UtilityPaneBackground: #ffffff;
$UtilityPaneText: #000000;
$StatusBarBackground: #0099ee;
$StatusBarText: #ffffff;

.tabs-wrapper {
  background-color: $WorkPaneTabsBackground;
}
.bg-tabs-active {
  background-color: $WorkPaneTabActiveBackground;
}

.text-tabs-active-text {
  color: $WorkPaneTabActiveText;
}

.text-tabs-active-indicator {
  color: $WorkPaneTabActiveIndicator;
}

.tabs-inactive {
  background-color: $WorkPaneTabInactiveBackground;
  color: $WorkPaneTabInactiveText;
}

//haven't figured out how to change inactyove color wothout overriding this class
.q-tab--inactive {
  background-color: $WorkPaneTabInactiveBackground !important;
  color: $WorkPaneTabInactiveText !important;
}

body {
  overflow: hidden;
}

.my-picker {
  max-width: 150px;
  width: 100px;
}

.ba-menu-item {
  height: 32px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;

  &:hover {
    background-color: $teal-4;
  }
}



.activity-selector {}

.activity-pane {
  background-color: $teal-5;
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  min-height: inherit;
}



.work-pane {}

.utilitypane {}

.activity-selector-icon-holder {
  box-sizing: border-box;
  width: 50px;
  height: 60px;
}

.activity-selector-icon {
  font-size: 40px;
  color: $grey-4;
}

.activity-selector-icon:hover {
  color: white;
  cursor: pointer;
}

.ba-footer-icon {
  padding-left: 12px;
  padding-right: 12px;
}

.config-card {
  width: 100%;
  max-width: 250px;
}

.q-stepper__dot {
  height: 40px;
  width: 40px;
  background-color: transparent;

  .q-icon {
    height: 40px;
    width: 40px;
  }
}
.tree-param {
  // max-width:300px;
  margin: 12px !important;
}

.linkicon {
  font-size: 40px;
}
.linkicon:hover {
  cursor: pointer;
}

.ticon {
  color: red;
  font-size: 20px;
  margin-left: 5px;
  box-sizing: border-box;
}

.ticon:hover {
  color: green;
  border: 1px solid gray;
  background-color: pink;
}

.ticonwrapper {
  box-sizing: border-box;
}

.texteditor {
  background-color: white !important;
  width:100%;
  height:100%;
  resize: none;
}

.texteditor:hover {
  background-color: white !important;
}

.mainpane-seperator {
  background-color: #444444;
}
.mainpane-left {
  height: calc(100vh - #{$header-height} - #{$status-height});
  overflow: auto;
}

.mainpane-right {
  background-color: white;
  height: calc(100vh - #{$header-height} - #{$status-height});
  overflow: hidden;
}

.rightpane {
  min-height: inherit;
  height:100%;
}

.rightpane-top {
  border:2px solid blue;
  overflow:auto;
  box-sizing: border-box;
  height:100%;
  display:flex;
  flex-flow:column;
  background-color: $rightpane-top-background-color;
}

.rightpane-bottom {
  overflow:auto;
  background-color: $rightpane-bottom-background-color;
}

.tab-panel-wrapper {
  border:3px solid orange;
  flex-grow : 1;
}

.bg-tab-bg {
  background-color: purple;
}

.text-tab-bg {
  color: white;
}

.menubar-logo {
  height: 30px;
  width: 26px;
  margin-left: 11px;
  margin-right: 11px;
}

.menubar {
  background-color: $teal-6;
  padding-left: 0px;
}

.status-bar {
  background-color: $blue-6;
  color: white;
  height: 25px; 
  min-height: 25px;
}
